* {
    /* background-color: lightgray; */
    font-family: 'Oswald', sans-serif;
}

.header {
    background-color: lightblue;
    font-size: 40px;
    text-align: center;
}

h1 {
    text-align: center;
}

.card-body {
    border: 2px black solid;
    background-color: lightgrey;
}
